@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}

main {
  min-height: 100vh;
  max-width: 1280px;
  margin: auto;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #000000;
}
